.container-register {
  display: flex;
  justify-content: center;
}
.form-register {
  width: 400px;
  padding: 5px;
  border: 3px;
}
.select-status {
  width: 100%;
}

.salvar-button {
  margin-top: 100px;
  width: 100%;
}
